<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Edit Friend #{{ friend.id }}</h1>
        <form action="/{{friend.id}}/update" method="post">
            <input type="text" name="username" value="{{friend.username}}">
            <input type="submit" value="Update Friend">
        </form>
    </body>
</html>