<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'first_app/style.css' %}">
    </head>
    <body>
        <h1>HELLO THIS IS A TEMPLATE</h1>
        <form action='/form_thing' method="POST">
            {% csrf_token %}
            <input type="text" name="friend" placeholder="enter a friend's name">
            <input type="submit" value="Add">
        </form>
    </body>
</html>