<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>Add an actor to the DB</h1>
        <hr>
        <form action="/create" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="first">First Name</label>
                <input type="text" name="first">
            </div>
            <div class="form-group">
                <label for="last">Last Name</label>
                <input type="text" name="last">
            </div>
            <div class="form-group">
                <label for="dob">Date of Birth</label>
                <input type="date" name="dob">
            </div>
            <div class="form-group">
                <label for="has_oscar">Has an Oscar</label>
                <input type="checkbox" name="has_oscar">
            </div>
            <input type="submit" value="Add Actor">
        </form>
    </body>
</html>